* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "dogica";
    src: url("../assets/fonts/dogica/dogica.ttf");
}

body {
    font-family: dogica;
    height: 200vh;
    background-image: url(../assets/img/main/wave.png);
    background-size: 100%;
    background-repeat: repeat-y;
}

header {
    height: 7vh;
}

.logo {
    transform: translateX(-2px);
}

header nav {
    background-color: transparent;
}

main {
    height: 190vh;
}

footer {
    height: 3vh;
}